body {
    margin: 0;
}

.header__bloc {
    .header__titre {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header__logo {
        width: 12%;
    }
    .header__nav {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 2% auto;

        & a {
            padding: .1% 2%;
            text-decoration: none;
            color: black;
            border-radius: 25px;
        
            &:hover {
                transform: scale(1.1);
                background-color: antiquewhite;
            }
            &.active {
                transform: scale(1.1);
                background-color: antiquewhite;
                font-style: italic;
            }
        }
    }
}

.img__banniere {
    width: 100%;
    height: 430px;
    opacity: .85;
}

.div__sommaire {
    border: 5px solid darkturquoise;
    border-radius: 20px;
    margin: 10% 5%;
    padding: 1%;
    & h2 {
        text-align: center;
    }

    .sommaire__flex {
        display: flex;
    
        .item__sommaire {
            border: 2px solid turquoise;
            border-radius: 15px;
            width: 45%;
            padding: 1%;
            margin: 1%;
            & a {
                text-decoration: none;
                color: black;
            }
            & img {
                width: 100%;
                height: 100px;
                border-radius: 10px;
            }
            & h3 {
                text-align: center;
            }
        }
        .item__sommaire:hover {
            transform: scale(1.05);            
        }
    }

    .contact__sommaire {
        text-align: center;
        
        .btn__sommaire {
            padding: .5% 1%;
            border: 3px solid turquoise;
            border-radius: 8px;
            background-color: transparent;
            & a {
                text-decoration: none;
                color: black;
            }
            &:hover {
                transform: scale(1.1);
                border: 3px solid transparent;
                background: darkturquoise;
            }
        }
    }
}